
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
  color: #312D2D, 

}

.container{
  max-width: 800px;
  width: 100%;
  width: 100%;
  margin: 0 auto;
  min-height: 1024px;
  height: 100%;
  background-image: url(./components/cvagarzon.jpg);
  background-repeat: no-repeat;

 
}

h1{
  font-family: 'Abhaya Libre', serif;
  color: #312D2D;
}


p{
  text-align: justify;
}

#informacion{
  display: flex;
  flex-direction: column;
}

@media screen and (min-width:768px){
  #informacion{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
}





